# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
*.log
appbloom560.py
appllamamis7b.py
appmis7bv01.py
bkpv2.py

# Node.js
node_modules/
dist/

# Modelos treinados ou arquivos grandes
modelos/
*.mp4
*.mp3
